* {
    font-family: 'Roboto';
    padding: 0;
    margin: 0;
}

/* The Modal (background) */
.modal, .modal2 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
  /* Modal Content/Box */
.modal-content, .modal-content2 {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}
  
  /* The Close Button */
.close {
  cursor: pointer;
  float: right;
  font-size: 28px;
}
.close:hover {
  cursor: pointer;
  float: right;
  font-size: 28px;
  font-weight: bold;
}


#container {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  flex-wrap: wrap;
  display: flex;
  width: 80%;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;


}

.flex-container {
  flex: 1 0 25%;
  max-width: 28%;
  margin: 15px;
  padding: 15px 0px 15px 0;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 21%;
  justify-content: space-between;
  text-indent: 5%;
}

.flex-container:hover {
  background-color: rgb(236, 236, 236);
  cursor: pointer;

}

.color-code {
  width: 100%;
  height: 5%;
  background-color: #43a047;
  margin-top: 15px;
}

.inprogress-color-code {
  width: 100%;
  height: 5%;
  background-color: #fbc02d;
  margin-top: 15px;
}

.incomplete-color-code {
  width: 100%;
  height: 5%;
  background-color: #d32f2f;
  margin-top: 15px;
}

#navbar {
  position: fixed;
  background-color: #00701a;
  width: 100%;
  padding-left: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  color: white;
}

header {
  background-color: #43a047;
  color: white;
  font-size: 125%;
  padding: 10%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#base {
  text-indent: 10%;
  padding: 0%;
  margin: 0%;
  font-size: 24px;
}

#plus {
  height: 25px;
  padding: 15px;
  padding-bottom: 25px;
  margin: 15px;
  padding-left: 0;
  margin-left: 0;
  justify-content: center;
  text-align: center;
  border-style: inherit;
  background-color: rgba(255, 255, 255, 0);
  font-size: 32px;
  cursor: pointer;
}

#plus:hover {
  font-weight: bold; 
}

.info-box {
  color: darkgray;
  font-style: italic; 
}
button {
  cursor: pointer;
  padding: 1%;
}
input {
  margin-top: 1%;
  margin-bottom: 1%;
}

.submit {
  margin-top: 1%;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  margin-top: 1%;
  margin-bottom: 1%;
}